.header {
  text-align: center;
}

.gradeTitle {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 0.5rem;
}

.headerContainer {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 0.3rem solid black;
  box-shadow: 0.3rem 0.3rem 0.3rem;
  border-radius: 0.15rem;
}
